.result {
    margin: 3px auto;
    width: 30%;
    height: 30%;
    border-radius: 15px;
    border: 18px solid $secondaryColor;
}

.results p {
    padding: 10px 0 20px;
    font-size: 18px;
    line-height: 26px;
    width: 80%;
}